@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
    --cor--botao:#FFB800;
    --cor-botao-foco: #FF900E;
}
* {
    /* para zerar tudo */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: 'ROBOTO', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    border-bottom: 1px solid #000;
    
}

.logo {
    height: 60px;
}
.menu {
    display: flex;
    gap: 65px;
}
.item-menu:link {
    color: #000;
    text-decoration: none;

}
.item-menu:visited {
    color: blue;
    text-decoration: none;
}
.item-menu:hover {
    color: cornflowerblue;
    text-decoration: none;
}

.area-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}
.conteudo-principal {
    text-align: center;

}
.titulo {
    font-size: 58px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: 56px;
    position: absolute;
    width: 496px;
    height: 145px;
    left: 140px;
    top: 266px;
}
.text {
    position: absolute;
    width: 374px;
    height: 92px;
    left: 201px;
    top: 411px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

}
.botao {
    position: absolute;
    font-size: 50px;
    border: 0;
    margin-bottom: 1px;
    background-color: #FFB800;
    border-radius: 30px;
    color: white;
    width: 425px;
    height: 100px;
    left: 190px;
    top: 590px;

}



.botao:hover {
    background: #FF900E;
}

.rodape{
   width: auto;
   height: auto;
   padding: 100px;
   margin-top: 15px;
   border-top: 1px solid #000;
   margin-bottom: -50px;
}
.rodapetext {
    text-align: center;
    font-family: 'ROBOTO', sans-serif;
    font-size: 24px;
}

